@font-face {
    font-family: 'Montserrat-Regular';
    src:url('../fonts/Montserrat-Regular.ttf.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf.svg#Montserrat-Regular') format('svg'),
        url('../fonts/Montserrat-Regular.ttf.eot'),
        url('../fonts/Montserrat-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src:url('../fonts/Montserrat-Bold.ttf.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf.svg#Montserrat-Bold') format('svg'),
        url('../fonts/Montserrat-Bold.ttf.eot'),
        url('../fonts/Montserrat-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src:url('../fonts/Montserrat-SemiBold.ttf.woff') format('woff'),
        url('../fonts/Montserrat-SemiBold.ttf.svg#Montserrat-SemiBold') format('svg'),
        url('../fonts/Montserrat-SemiBold.eot'),
        url('../fonts/Montserrat-SemiBold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans-Bold';
    src:url('../fonts/Open-Sans-Bold.ttf.woff') format('woff'),
        url('../fonts/Open-Sans-Bold.ttf.svg#Open-Sans-Bold') format('svg'),
        url('../fonts/Open-Sans-Bold.ttf.eot'),
        url('../fonts/Open-Sans-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open-Sans';
    src:url('../fonts/Open-Sans.ttf.woff') format('woff'),
        url('../fonts/Open-Sans.ttf.svg#Open-Sans') format('svg'),
        url('../fonts/Open-Sans.ttf.eot'),
        url('../fonts/Open-Sans.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: 'Montserrat-Regular';
}
.top_bar{
	background:url(../images/topbar.jpg) repeat;
	height: 40px;
}

.logo_bar{
	height: 100px;
}
.mlogo{
	font-family: 'Montserrat-Bold';
	font-size: 32px;
}
.navbar{
    background: #fff;
    min-height: 100px;
    margin-bottom: 0;
}
section.mslider{
}
section.homeBlocks{
    margin: 20px 20px 30px;
}
footer .footerbar{
    background:url(../images/footerbar.jpg) repeat;
    height: 72px;
}
.widget_product_categories .widgettitle{
     background: rgba(0, 0, 0, 0) url("../images/catlow.png") no-repeat scroll center bottom;
    color: #edcc58;
    font-family: "Montserrat-Regular";
    font-size: 27px;
    font-weight: bold;
    margin-top: 30px;
    padding-bottom: 65px;
    text-transform: uppercase;

}
ul.product-categories{
    padding-left: 0;
    list-style: none;
}
ul.product-categories > li {
    text-transform: uppercase; 
    font-size: 18px;
    color: #000000;
    font-family: 'Open-Sans-Bold';
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
}


ul.product-categories > li > a {
    color: #000;
}
ul.product-categories > li >ul {
    display: none;
     list-style-image: url(../images/subli.png);
     padding-left: 20px;
}
ul.product-categories > li >ul > li{
    font-size: 16px;
    padding: 10px 0;   
    border-bottom: 1px solid #f1f1f1; 
    font-family: 'Open-Sans-Bold';
    background-color: #fff;
}

ul.product-categories > li.myLink{
    background:url(../images/plus.png);
    background-repeat: no-repeat;
    background-position: right;
}
ul.product-categories > li.myLink.pm{
    background:url(../images/minus.png);
     background-repeat: no-repeat;
    background-position: right 14px;

}
ul.product-categories > li >ul > li > a{
    color: #666666;
}
.top_bar .top_right{
    float: right;
}
.top_bar .top_right ul{
    list-style: none;
    margin-top: 10px;
    padding: 0;

}
.top_bar .top_right ul li{
    list-style: none;
    float: left;
    
}
.top_bar .top_right ul li a{
   color: #000;
    padding: 5px 20px;
}
.top_bar .top_right ul li.my_account{
    background:url(../images/user.png) no-repeat;
    background-position: 1px 2px;
}
.top_bar .top_right ul li.my_wishlist{
    background:url(../images/wishlist.png) no-repeat;
    background-position: 1px 2px;
}
.top_bar .top_right ul li.my_cart{
    background:url(../images/cart.png) no-repeat;
    background-position: 1px 2px;
}
.top_search{ float: right;  margin-top: 5px;}
.top_search .tstext{
     border: medium none;
    float: left;
    padding: 4px;
}
.top_search .tsimg{
    float: left;
}
a.mlogo{
    color: #000;
}
.container .navbar-header{

}
.navbar.navbar-default{
    padding: 20px 0;
}
.navbar-default .navbar-brand {
    color: #000;
}
.navbar-default .navbar-nav > li > a{
    color: #000;
    font-weight: 500;
    font-size: 15px;
}
.fbbutton{
    float: right;
    margin-top: 8px;
}
#navbar{
    float: right;
}
.navbar-nav > li > a{
    padding:15px 7px;
}
.tp-bannershadow.tp-shadow2{
    display: none;
}
.hmblck{
    
     background: rgba(0, 0, 0, 0) url("../images/hmbg.png") repeat scroll 0 0;
  float: left;
    margin-top: 220px;
    padding: 10px 15px;
    width: 100%;
    
}
.homeBlocks .col-md-4 img{
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px;

}
.hmblck label{
    color: #fff;
    float: left;
    font-size: 24px;
}
.btsee{
     background: #edcc59 none repeat scroll 0 0;
    border: medium none;
    color: #000;
    float: right;
    font-weight: bold;
    padding: 5px 10px;
}
.midsec{
    margin-top: 10px;
    background: url("../images/middlebar.jpg");
    background-color: #dcd6da;
    background-repeat: repeat-x;

}

.midseclb{
     color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 20px 0;
    text-transform: uppercase;
}

.hpyblock{
    width: 31%;
    float: left;
    margin-right: 2%;
    background-color: #fff;
    margin-top: 20px;
}

.hpyblock img{
    width: 100%;
    height: 250px;
}
.hpyblocktxt{
 float: left;
    font-size: 12px;
    font-weight: normal;
    padding: 10px;
}
.hpyblocktxt label{
    font-weight: normal;
}

.hpyblocktxt p{
    margin:0;
    font-size: 10px;
    color: #333333;
}
.viewalltext{
    float: left;
    margin: 20px 0;
}
.viewalltext a{
    color: #000;
}
.midcont ul.eventlist{
 font-size: 12px;
    list-style: outside none none;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 0;
}
.midcont ul.eventlist li{
    margin-bottom: 7px;
}
section.homefeature{
    background-color: #fff;
    padding: 30px 0;
}
.homefeature hr{
    border-width: 2px;
}
.homefeature h1{
    margin: -40px auto 0;
    width: auto;
}
.homefeature h1 span{
    background: #fff none repeat scroll 0 0;
    padding: 0 20px;
}
.homefeature .ferbar{
    text-align: center;
}
section.aboutsection{
    background: url("../images/abtbg.png");
    background-color: #dad4d4;
    background-repeat: no-repeat;
    height: 400px;
}



.hmabttext{
     line-height: 25px;
}
.hmabttext h1{
     font-size: 30px;
    margin-bottom: 20px;
    margin-top: 25px;
    text-transform: uppercase;
}
.hmabttext p{
    line-height: 25px;
}
.orbutton{
      background: rgba(0, 0, 0, 0) url("../images/orbutton.png") no-repeat scroll 0 0;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 20px;
    text-transform: uppercase;
    width: auto;
}
.brbutton{
      background: rgba(0, 0, 0, 0) url("../images/brbutton.png") no-repeat scroll 0 0 !important;
    color: #fff !important;
    font-size: 16px;
    font-weight: normal !important;
    padding: 10px 25px !important;
    text-transform: uppercase;
    width: auto;
}
.orbutton:hover, .orbutton:focus, .orbutton:active{
    color: #000;
    text-decoration: none;
}

.orbutton:hover, .orbutton:focus, .orbutton:active,.brbutton:hover, .brbutton:focus, .brbutton:active,.btsee:hover, .btsee:focus, .btsee:active  {
    transform: scale(1.1);

}
.hmabttext .orbutton{
    margin-top: 10px;
    float: left;
}

.fetprd{
    float: left;
    margin-top: 30px;
    width: 100%;
}
.fetprd ul.products li{
    border: 1px solid #DCDCE4;
    -webkit-box-shadow: 0px 3px 5px 2px rgba(220,220,228,1);
-moz-box-shadow: 0px 3px 5px 2px rgba(220,220,228,1);
box-shadow: 0px 3px 5px 2px rgba(220,220,228,1);
}
.fetprd .woocommerce ul.products li.product h3{
    padding-right: 15px;
    padding-left: 15px;
     color: #000;
}
.fetprd .woocommerce ul.products li.product .price{
    padding:5px 15px;
    color: #e8c95d;
    font-size: 16px;
}

.fetprd .woocommerce ul.products li.product .button{
     margin: 0 0 20px 15px;
}
section.facesection{
 background-color: #eff1f2;
    padding: 20px 0 0;
}
section.facesection h1{
    text-align: center;

}
.rowd{
    margin-top: 20px;
}
.ftwidgets section{
    width: 25%;
    float: left;
    padding-left: 15px; padding-right: 15px;
}
.ftwidgets section h2{
     font-family: "Montserrat-Bold";
    font-size: 22px;
    font-weight: normal;
    }
.ftwidgets section .textwidget p{
    font-size: 12px;
    line-height: 19px;
}
.ftwidgets section .textwidget p .hptxt{
    font-family: "Montserrat-Bold";
    color: #efce5a;

}
.ftwidgets section .menu-footer-navigation-container ul{
        padding-left: 15px;
}
.ftwidgets section .menu-footer-navigation-container ul a{
    color: #000;
    }
.ftwidgets section .menu-footer-navigation-container ul li{
    margin-bottom: 10px;
}

.ftleft{
    float: left;
    color: #fff;
    padding-top: 25px;
}
.ftright{
    float: right;
    color: #fff;
    padding-top: 25px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #edcc58;
}
.navbar-default .navbar-nav > li > a{
    text-transform: uppercase;
}
.ftright a{
    color: #fff;
}
.ftright a:hover,.ftright a:focus{ color: #fff; text-decoration: underline; }

.woocommerce #content .woocommerce-breadcrumb{
    margin-top: 20px;
    text-align: right;
    color: #edcc58;
    font-size: 18px;
    font-weight: 500;
}

.woocommerce #content .woocommerce-breadcrumb a,.woocommerce #content .woocommerce-breadcrumb span{
    color: #000;
}
.topcatprd {
     display: none;
    float: left;
    margin: 10px 0;
    text-align: center;
    width: 100%;

    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
}
.topcatprd .woocommerce-pagination{
    float: right;
}

.catorder{
    width: 200px;
    margin: 0 auto;
}

.topcatprdinr .woocommerce-ordering label{
    color: #7a7a7a;
    font-family: 'Montserrat-Regular';
    font-weight: normal;
    padding-top: 3px;
}
.topcatprdinr .woocommerce-ordering select{
     color: #7a7a7a;
}
.topcatprdinr{
    width: 540px;
    margin: 0 auto;
}
.woocommerce .topcatprd .topcatprdinr form.woocommerce-ordering  {
    float: left;
    width: 200px;
}
.woocommerce .topcatprd .topcatprdinr form.woocommerce-ordering select{
    padding: 5px;
}

.woocommerce nav.woocommerce-pagination ul li{
    width: 30px;
}
.woocommerce nav.woocommerce-pagination ul li a{
color: #8a7e88
}

.maincatpg ul.products  li h3, .related.products.prdm ul.products  li h3{
    color: #000000;
    font-family: "Montserrat-Bold";
}

.woocommerce .maincatpg ul.products li.product .price, .related.products.prdm ul.products li.product .price{
     color: #cc0000;
     font-family: "Montserrat-Bold";
}
.woocommerce ul.products li.product .button.add_to_cart_button{
    background-color: #cc0000;
    color: #fff;
}
.prdmain{
    margin-top: 10px; 
}
h3.titleprdmain{
    float: left;
    width: auto;
    color: #edcc58;
    text-transform: uppercase;
}
.cprdmainbreadcrumb{
    float: right;
    width: auto;
}
.mainprdtop{
    float: left;
    width: 100%;
}
.prdmain #container{
    float: left;
    width: 100%;
}
 .woocommerce .cprdmainbreadcrumb .woocommerce-breadcrumb{
    color: #edcc58;
}
.woocommerce .cprdmainbreadcrumb .woocommerce-breadcrumb a, .woocommerce .cprdmainbreadcrumb .woocommerce-breadcrumb span{
    color: #000;
 }

 .woocommerce .prdmain div.product  p.price, .woocommerce .prdmain div.product  span.price{
        color: #000;
        font-size: 24px;
        font-family: "Montserrat-Bold";
        margin-bottom: 20px;
 }


  .woocommerce .prdmain div.product .summary.entry-summary div p{
    margin-bottom: 20px;
  }
  .prdmainadd{
    float: left;
    width: 100%;
  }
   .prdmainadd .variations td.label{
    margin-right: 15px;
   }
  .prdmainadd .variations td.label label,  .prdmainadd .variations_button label{
   color: #000;
    font-size: 20px;
    padding-top: 10px;
  }
   .prdmainadd .variations td.value select, .woocommerce .prdmainadd  .quantity .qty{
        padding: 10px;
   }

    .woocommerce .prdmain div.product  .quantity label{
        margin-right: 15px;
   }
    .woocommerce .prdmain div.product .single_variation .price,  .woocommerce .prdmain div.product .single_variation .stock.in-stock,.woocommerce .prdmain div.product .single_variation .stock.available-on-backorder{
        display: none;
    }

    .dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
  margin-top: 0;
  left: 0;
  top: 40px;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}

.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}
footer{
     border-top: 1px solid #e7e7e7;
    margin-top: 20px;
    padding-top: 10px;
}
.woocommerce div.product .prdmainadd form.cart .button.single_add_to_cart_button{
     background: #cc0000 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    margin-left: 10px;
    margin-top: 4px;
    padding: 15px;
    font-weight: normal;
    font-family: 'Open-Sans';
}
.prdmainadd .yith-wcwl-add-to-wishlist {
    color: #000;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    text-transform: uppercase;
}
.prdmainadd .yith-wcwl-add-to-wishlist a {
    color: #000;
    
}
.related.products.prdm > h2 {
    margin-bottom: 20px;
    text-align: center;
}
.related.products.prdm ul.products{
    border-top: 1px solid: 
}

.navbar-nav > li > .dropdown-menu{
    display: none;
}
.toppage{
    float: left;
    width: 100%;
    color: #edcc58;
    margin-top: 10px;
    margin-bottom: 20px;
}
.toppage a,.toppage span{
    color:#000;
}
.toppage .cprdmainbreadcrumb{
    margin-top: 15px;
}

#mk-notification-bar, #mk-page-introduce, #mk-theme-container, .mk-blog-classic-item, .mk-blog-grid-item, .mk-employee-item, .mk-fullwidth-boxed, .mk-gallery-shortcode .gallery-caption, .mk-gallery-shortcode .gallery-inner, .mk-gallery-shortcode .gallery-title, .mk-grid div, .mk-header-toolbar, .mk-image-caption, .mk-news-item, .page-section-content, .shopping-cart-header, .testimonial-column .testimonial-item, .text-input, .theme-page-wrapper, *::after, *::before, [class*="mk-col-"], input[type="text"], textarea {
    box-sizing: border-box;
}
#mk-notification-bar, #mk-page-introduce, #mk-theme-container, .mk-blog-classic-item, .mk-blog-grid-item, .mk-employee-item, .mk-fullwidth-boxed, .mk-gallery-shortcode .gallery-caption, .mk-gallery-shortcode .gallery-inner, .mk-gallery-shortcode .gallery-title, .mk-grid div, .mk-header-toolbar, .mk-image-caption, .mk-news-item, .page-section-content, .shopping-cart-header, .testimonial-column .testimonial-item, .text-input, .theme-page-wrapper, *::after, *::before, [class*="mk-col-"], input[type="text"], textarea {
    box-sizing: border-box;
}
.filter-faq {
    margin-bottom: 30px;
    text-align: center;
}
.filter-faq ul {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.filter-faq ul li {
    display: inline-block;
}
.filter-faq ul li a.current {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}
.filter-faq ul li a {
    color: #323232;
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 13px;
    padding: 12px 14px;
}
.mk-faq-container.fancy-style-wrapper {
    border-top: 1px solid #ececec;
} 
.mk-faq-container {
    margin-bottom: 20px;
}
.mk-faq-container.fancy-style-wrapper .mk-faq-toggle {
    border-top: medium none;
    margin-bottom: 0;
    padding: 0;
}
.mk-faq-toggle {
    display: block;
    padding: 4px 10px;
    width: 100%;
}



.mk-faq-toggle .mk-toggle-pane {
    padding: 20px;
}
.mk-toggle .mk-toggle-pane {
    background-color: #fff;
    display: none;
    padding: 20px;
    position: relative;
     border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    float: left;
    width: 100%;
}
.mk-box-icon-2-content {
    color: #666666;
    font-size: 13px;
    line-height: 1.66em;
}
.mk-toggle-title{
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    float: left;
    padding: 20px 20px;
    width: 100%;
    cursor: pointer;

}
.mk-toggle-title:hover{
    background: #efefef;
}
i.qmargin{
    color: #ccc;
    margin-right: 20px;
}
.fa.fa-angle-right.qmargin{
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}